.gcalendar-widget {
  @apply flex flex-col mt-4;
  font-size: 1.6rem;
  gap: 0.6rem;

  & > div {
    @apply flex bg-blue-500 rounded-3xl p-2 items-center;
    gap: 0.4rem;

    .start,
    .end {
      @apply bg-white text-black font-bold rounded-2xl py-1 px-2;
    }

    .summary {
      @apply ml-3;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
